.cont-body-log{
    position: absolute;
    left: 50%;
    text-align: center;        
    width:646px;
    height:265px;
    margin-left: -303px; /*half width*/
    margin-top: -32px; /*half height*/
    display: inline-block;
}
.cont-body-log .big-top-space{
	border-width: 3px; 
	border-style: solid; 
	border-color: #EB984E; 
	border-radius: 10px;
	background-color: #f5f5f5;
}
.body {
	background-color: #7F8C8D;
	opacity: 0.9 !important;
}
h4{	
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'robotoblack';
	text-align: center;
}
.cont-body-log .big-top-space form{
	display: block;
	background-color: #f5f5f5;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0px;
}
.cont-body-log .big-top-space h4{
	display: block;
	background-color: #EB984E;
	color: #F4F6F7;
    text-transform: uppercase;
    font-size: 20px;
	border-radius: 4px 5px 1px 1px;
    font-family: Montserrat_Bold, Verdana, Geneva, sans-serif;
    text-align: center;
    width:318.5px;
    height: 50px;
    margin-left: -15px;
}
.input{

	border-radius: 10px;
	margin-left: 20px;
	width:250px;
	margin-bottom: 20px;
}
.top-space input{
	margin-top: 10px;
	margin-bottom: 5px;
	background: #E74C3C;
}
form a{
	margin-top: 10px;
	font-size: 12px;
	color: #F1948A;
}
.alertas{
	font-size: 12px;
}


.registro-usuario{
	position: relative;
    left: 10%;
    text-align: center;
	width:1046px;
    height:365px;
    background-color: #7F8C8D;
	opacity: 0.9 !important;
	margin-top: -50px;

}

.registro-usuario .cont-registro
{	
	border-radius: 10px;
	display: block;
	background-color: #f5f5f5;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0px;
}

.cont-registro h4{
	color: #EB984E;
    font-size: 20px;
    font-family: Montserrat_Bold, Verdana, Geneva, sans-serif;
	text-align: center;
}
.registro-usuario form input {
	margin-bottom: 10px;
	border-radius: 10px;
	width: 300px;
	margin-left: 20px;
	text-align: center; 


}

.registro-usuario label  {
	color: #EB984E;
    font-size: 10px;
    font-family: Montserrat_Bold, Verdana, Geneva, sans-serif;

}

.list-class{
	margin-top: 50px;
	display: inline-block;
	width: 500px !important;
    left: 50%;
    text-align: center; 
    position: absolute;
    width:646px;
    height:265px;
    margin-left: -203px; /*half width*/
	border-radius: 10px; 
}
.list-class a{
	display: block;
	background-color: #EB984E;
	color: #F4F6F7;
    font-size: 15px;
    font-family: Montserrat_Bold, Verdana, Geneva, sans-serif;
    width:318.5px;
    height: 50px;
	
}
.list-class ul {
	margin-top: 100px;
}
.list-class ul li a{
    text-align: center !important;
    background: white;
}

.submit{
	margin-top: 20px;
	width: 150px !important;
	margin-right: 30px;
}

